<div class="grid">
  <div class="grid-head">
    <div class="grid-head-cell" *ngFor="let header of gridHeaders">
      {{ header }}
    </div>
  </div>
  <div class="grid-body">
    <div
      class="grid-body-row"
      *ngFor="let item of gridItems"
    >
      <div class="cell">
        <app-avatar
          [avatarSize]="'small'"
          [imageSrc]="item.profileImage"
        ></app-avatar>
      </div>
      <div class="cell">
        {{ item.userName }}
      </div>
      <div class="cell">
        {{ item.userType }}
      </div>
      <div class="cell">
        <span class="button-link" (click)="showPreview(item)">
          <hero-icon [name]="'eye'" [type]="'outline'" class="icon"></hero-icon>
          <span>preview</span>
        </span>
      </div>
    </div>
  </div>
</div>
