.avatar-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}
.avatar {
  display: block;
  overflow: hidden;
  border-radius: 50%;

  &.small {
    background-color: var(--base);
    height: 32px;
    width: 32px;
  }
  &.medium {
    background-color: var(--base);
    height: 3rem;
    width: 3rem;
  }
  &.large {
    background-color: var(--base);
    height: 6rem;
    width: 6rem;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
}
