@import "_base";

:root {
  --white: rgba(255, 255, 255, 1);
  --base: rgb(248, 249, 251);
  --border: rgb(240, 242, 247);
  --primary-text: rgba(9, 14, 36, 0775);
  --secondary-text: rgb(98, 110, 153);
}
html,
body {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  background-color: var(--base);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--secondary-text);
  font-size: 14px;
  user-select: none;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}
