.app-preview {
  height: auto;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.0625rem solid var(--border);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .preview-body {
    border-bottom: 0.0625rem solid var(--border);
    margin-bottom: 1rem;
  }
}
.icon {
  cursor: pointer;
}
